body {
			color: #A0CFEC;
			background-color: #EBF4FA;
			font-size: 15pt;
			font-family: Veranda; Geneva, Arial, Halvetica, sans-serif;
			}
			
			.paragraph1 {
				font-size: 18px; 
				font-style: oblique;
				}
			.paragraph2 {
				font-size: 18px; 
				}